---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Un poco sobre mi y lo que hago"
	pubDate={new Date('April 04 2025')}
	heroImage="/mypix.webp"
>
	<p>
		Soy un narrador novato con ganas de compartir mis historias. Inicie en el mundo de la literatura
		desde pequeño y he escrito varios relatos cortos. Comence dentro del mundo de los 
		juegos de rol hace no mas de unos meses pero me intereso mucho no solo jugar sino las 
		posibilidades infinitas de crear historias, tanto de forma individual como en grupo.
	</p>

	<p>
		Este pequeño blog lo inicie para poder registar y compartir mis historias. Espero de mi parte
		que estos relatos te sirvan como inspiracion o como ayudasi estas entrando en este mundo.
	</p>

</Layout>
