---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hola narrador perdido</h1>
			<p>
				Bienvenido a este pequeño espacio donde muestro algunas de mis ideas para narrar y dirigir
				juegos de rol. Aquí encontrarás mas que nada algunas de mis ideas y borradores para distintas
				aventuras y posiblemente campañas. Soy apenas un narrador novato. Todo lo que encuentres aquí son
				pequeñas historias que surgieron con el fin de pasar un rato con amigos y conocidos.
				Todo lo que esta en este humilde blog es de libre uso, puedes usarlo como quieras, incluso hasta
				si no sabes con que perder el tiempo.
			</p>
			<p>
				Todo las ideas para partidas de momento estan basadas en sistemas de otras personas. Siempre tratare de
				dejarte un link para que puedas ver y conocer a los respectivos autores y creadores de los mismos.
				Te recomiendo profundamente que apoyes su trabajo, ya que a mi parecer, talento de sobra tienen.
			</p>
		</main>
		<Footer />
	</body>
</html>
